<launch>
    <!-- odom node -->
    <node pkg="control" type="odom.py" name="odom_node" output="screen">
    </node>

    <!-- mecanum converter node -->
    <node pkg="control" type="mecanum_converter.py" name="mecanum_converter" output="screen" />


    <include file="$(find ydlidar_ros_driver)/launch/X2.launch" />
    <!-- Serial node for Arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

    <!-- Laser Scan Matcher -->
    <include file="$(find control)/launch/laser_scan_matcher.launch" />

    <!-- Robot Localization EKF -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
        <rosparam command="load" file="$(find control)/config/ekf_params.yaml" />
    </node>

    <!-- TF static transform -->
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_footprint" 
          args="0 0 0 0 0 0 odom base_footprint" /-->

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" 
          args="0 0 0 0 0 0  base_link base_footprint" /> -->
          
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" 
          args="0.017 0.005 0.525 3.141592 0 0 base_link laser_frame" />
</launch>