<?xml version="1.0"?>
<launch>
    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find control)/maps/map.yaml"/>

    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="global_frame_id" value="map"/>
        
        <!-- Transform tolerance 증가 -->
        <param name="transform_tolerance" value="0.5"/>
        
        <!-- AMCL 파라미터 -->
        <param name="transform_tolerance" value="1.0"/>
        <param name="min_particles" value="1000"/>
        <param name="max_particles" value="10000"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.1"/>
        <param name="resample_interval" value="1"/>

        <param name="odom_model_type" value="omni"/>
        <param name="use_map_topic" value="true"/>
        <param name="first_map_only" value="true"/>
    </node>

    <!-- Move Base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="transform_tolerance" value="1.0"/>
        <param name="controller_frequency" value="10.0"/>
        <param name="planner_frequency" value="5.0"/>
        <param name="conservative_reset_dist" value="3.0"/>
        <param name="recovery_behavior_enabled" value="true"/>
        <param name="clearing_rotation_allowed" value="true"/>
        <param name="shutdown_costmaps" value="false"/>
        <param name="planner_patience" value="10.0"/>
        <param name="controller_patience" value="20.0"/>
        
        <rosparam file="$(find control)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find control)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find control)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find control)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find control)/config/base_local_planner_params.yaml" command="load" />
    </node>

    <!-- TF 브로드캐스터 -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" 
          args="0 0 0 0 0 0 map odom" /> -->
</launch>